extends ./layouts/_base

block content-body

	+b.container

		+b.row.form-group.row-centered
			+b_service-type-item('/img/vector-smart-object@1.5x.png', 'b_service-type-item')
			+b_service-type-item('/img/vector-smart-object1@1.5x.png', 'b_service-type-item')
			+b_service-type-item('/img/vector-smart-object2@1.5x.png', 'b_service-type-item')
			+b_service-type-item('/img/vector-smart-object3@1.5x.png', 'b_service-type-item')

		+b.row.row-centered
			+b_service-type-item('/img/vector-smart-object4@1.5x.png', 'b_service-type-item')
			+b_service-type-item('/img/vector-smart-object5@1.5x.png', 'b_service-type-item')
			+b_service-type-item('/img/vector-smart-object6@1.5x.png', 'b_service-type-item')
			+b_service-type-item('/img/vector-smart-object7@1.5x.png', 'b_service-type-item')
